/* 2 col v1 */
.tbl-feeds-wrapper {
	width: 100%;
	position: relative;
}

.tbl-feeds-wrapper:after {
	content: "";
	display: table;
	clear: both;
}

.tbl-feed-container.tbl-left-feed-container {
	width: calc((100% - 10px) * 0.67);
	float: left;
	position: relative;
	margin-right: 10px;
}

.tbl-feed-container.tbl-right-feed-container {
	width: calc((100% - 10px) * 0.33);
	float: left;
	position: relative;
	clear: none;
}

.tbl-feed-container.tbl-right-feed-container.tbl-sticky {
	position: fixed;
	top: 0;
	margin-top: 0 !important;
}

.tbl-feed-container.tbl-right-feed-container.tbl-abslt-pos {
	position: absolute;
	right: 0;
	margin-top: 0;
}

.tbl-feed-container.tbl-right-feed-container .tbl-feed-header {
	display: none;
}

@media screen and (min-width: 0px) and (max-width: 750px),
	screen and (min-width: 0px) and (max-width: 850px) and (orientation: landscape) {
	.tbl-feed-container.tbl-left-feed-container {
		width: 100%;
	}

	.tbl-feed-container.tbl-right-feed-container {
		display: none;
	}
}
