.tbl-transformer {
	display: none;
	background: #000;
	/* height: 0px; */
	/* height: 320px; */
	opacity: 0;
	transform: translateY(-200px);
	visibility: hidden;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.tbl-transformer.show {
	display: block;
}

.tbl-transformer.fade-in {
	opacity: 1;
	transform: translateY(0px);
	visibility: visible;
	/* height: auto; */
}

.tbl-close-button {
	top: 15px;
	font-size: 20px;
	width: 2em;
	height: 2em;
	border: 0;
	float: right;
	cursor: pointer;
	position: fixed;
	z-index: 30;
	right: 410px;
	left: auto;
}

.tbl-close-button:before {
	content: '';
	width: 2.2em;
	height: 2.2em;
	z-index: -1;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.tbl-close-button .icon-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	width: 1.79em;
	height: 1.79em;
	background-color: #fff;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.tbl-close-button .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	height: 0.85em;
	width: 0.85em;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.tbl-close-button .progress-wrap {
	position: absolute;
	width: 2em;
	height: 2em;
	z-index: -1;
	border-radius: 50%;
	display: block;
	top: 0;
	left: 0;
	pointer-events: none;
	-webkit-transition: translate 0.3s linear;
	transition: translate 0.3s linear;
	-webkit-transform-origin: 1em 1em;
	transform-origin: 1em 1em;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.tbl-close-button .progress-circle {
  fill: transparent;
  /* stroke: #00a562; */
  stroke: #fff;
  stroke-width: 5;
  stroke-dashoffset: 0;
}
